@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #000;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.confirm{
    padding: 50px;
    padding-top: 40%;
    color: whitesmoke;
}
.fb{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db;
    width: 300.44px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;

}
.fb:hover {
    background-color: rgb(9, 140, 192);
    color: white;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F9D58;
    width: 300.44px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;


}
.google:hover {
    background-color: rgb(17, 146, 17);
    color: white;
}
.snapchat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFC00;
    width: 300.44px;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 10px;

}
.snapchat:hover{
    background-color: rgb(230, 230, 13);
    color: white;
}
a{
    text-decoration: none;
}